.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    height: 350px;
}

.add {
    padding-bottom: 35px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
